@import "includes/wonder.css";
@import "includes/vars.css";

@mixin font Roboto, RobotoThin, 100;
@mixin font Roboto, RobotoLight, 300;
@mixin font Roboto, RobotoRegular;
@mixin font Roboto, RobotoMedium, 500;
@mixin font Roboto, RobotoBold, 700;
@mixin font Roboto, RobotoBlack, 900;

@mixin res;

@import "includes/footer.css";

body{
	font-family: $font;
}

.box{
	width: 100px;
	background-color: $color;
	@mixin get 'bear.jpeg';
}

.title{
	font-size: 3em;
	text-align: center;
	justify-content: center;
	font-weight: 100;
	font-weight: 300;
	font-weight: 400;
	font-weight: 500;
	font-weight: 700;
	font-weight: 900;
}